/* 90s Blue Color Scheme */
body {
	background-color: #ffffff;
	color: #2f2f2f;
	font-family: "Gotham", "Arial Narrow", Arial, sans-serif;
	font-size: 20px;
}

h1 {
	color: #ffffff;
	font-size: 40px;
	letter-spacing: 5%;
}

h2 {
	color: #2f2f2f;
	font-size: 36px;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	color: #ffb900;
}

button {
	background-color: #ff4081;
	border: none;
	border-radius: 20px;
	color: #fff;
	font-family: "Impact", sans-serif;
	font-size: 24px;
	padding: 10px 20px;
	text-shadow: 1px 1px #000;
}

button:hover {
	background-color: #ffb900;
	color: #0d47a1;
}

#header {
	background-color: #ffb900;
	padding: 20px;
	text-align: center;
}

#nav {
	background-color: #2f2f2f;
	color: #ffffff;
	padding: 10px;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#nav li {
	float: left;
}

#nav li a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav li a:hover {
	background-color: #ffb900;
	color: #000;
}
img {
	max-width: 100%;
	height: auto;
}

#main {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#footer {
	min-height: auto;
	background-color: #2f2f2f;
	color: #fff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
