/* 90s Blue Color Scheme */
body {
	background-color: #ffffff;
	color: #2f2f2f;
	font-family: "Gotham", "Arial Narrow", Arial, sans-serif;
	font-size: 20px;
}

h1 {
	color: #ffffff;
	font-size: 40px;
	letter-spacing: 5%;
}

h2 {
	color: #2f2f2f;
	font-size: 36px;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	color: #f59b2f;
}

button {
	background-color: #ff4081;
	border: none;
	border-radius: 20px;
	color: #fff;
	font-family: "Impact", sans-serif;
	font-size: 24px;
	padding: 10px 20px;
	text-shadow: 1px 1px #000;
}

button:hover {
	background-color: #f59b2f;
	color: #0d47a1;
}

#header {
	background-color: #f59b2f;
	padding: 20px;
	text-align: center;
}

#nav {
	background-color: #2f2f2f;
	color: #ffffff;
	padding: 10px;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#nav li {
	float: left;
}

#nav li a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#nav li a:hover {
	background-color: #f59b2f;
	color: #000;
}
img {
	max-width: 100%;
	height: auto;
}

#main {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#footer {
	min-height: auto;
	background-color: #2f2f2f;
	color: #fff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

:root {
	--wine-color-dark: #6b0902;
	--wine-color-light: #ba0926;
	--label-white: white;
	--label-gray: #f2efef;
	--bottle-green-light: #3c6132;
	--bottle-green-dark: #213318;
	--wrapper-dark: #231917;
	--wrapper-light: #433834;

	--background-color: #fff;
}

body {
	background: var(--background-color);
}

.box-canvas {
	position: relative;
	margin: auto;
	display: block;
	margin-top: 20vmin;
	margin-bottom: 20vmin;
	width: 15vmin;
	height: 53vmin;
}

.bottle {
	position: absolute;
	bottom: 0;
	width: 15vmin;
	height: 40vmin;
	background: linear-gradient(
		to right,
		var(--wine-color-dark),
		var(--wine-color-light),
		var(--wine-color-dark)
	);
	border-radius: 40% 40% 50% 50% / 30% 30% 10% 10%;
}

.bottle::after {
	content: "";
	position: absolute;
	transform: rotate(20deg);
	left: 3vmin;
	top: 2vmin;
	width: 3vmin;
	height: 8vmin;
	border-radius: 50% 50% 0 0;
	box-shadow: -1vmin -1vmin 0 rgba(255, 255, 255, 0.2);
}

.label {
	position: absolute;
	width: 15vmin;
	height: 10vmin;
	background: linear-gradient(
		to right,
		var(--label-gray),
		var(--label-white),
		var(--label-gray)
	);
	top: 15vmin;
}

.label::before {
	content: "";
	position: absolute;
	width: 15vmin;
	height: 3vmin;
	background: linear-gradient(
		to right,
		var(--wine-color-dark),
		var(--wine-color-light),
		var(--wine-color-dark)
	);
	border-radius: 50%;
	top: -2vmin;
}

.label::after {
	content: "";
	position: absolute;
	width: 15vmin;
	height: 3vmin;
	border-radius: 50%;
	bottom: -1vmin;
	background: linear-gradient(
		to right,
		var(--label-gray),
		var(--label-white),
		var(--label-gray)
	);
}

.neck {
	position: absolute;
	width: 15vmin;
	height: 14vmin;
	background: linear-gradient(
		to right,
		var(--wine-color-dark),
		var(--wine-color-light),
		var(--wine-color-dark)
	);
	left: 50%;
	transform: translateX(-50%);
}

.cutout {
	width: 6.2vmin;
	height: 16vmin;
	position: absolute;
	background: var(--background-color);
}

.cutout.left {
	left: -1vmin;
}

.cutout.right {
	right: -1vmin;
}

.glass {
	position: absolute;
	bottom: 3vmin;
	width: 5vmin;
	height: 4vmin;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(
		to right,
		var(--bottle-green-dark),
		var(--bottle-green-light),
		var(--bottle-green-dark)
	);
}

.glass::after {
	content: "";
	position: absolute;
	width: 5vmin;
	height: 2vmin;
	background: linear-gradient(
		to right,
		var(--bottle-green-dark),
		var(--bottle-green-light),
		var(--bottle-green-dark)
	);
	border-radius: 50%;
	bottom: -0.5vmin;
}

.cap {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 5vmin;
	height: 7vmin;
	background: linear-gradient(
		to right,
		var(--wrapper-dark),
		var(--wrapper-light),
		var(--wrapper-dark)
	);
}

.cap::after {
	content: "";
	position: absolute;
	width: 5vmin;
	height: 2vmin;
	bottom: -1vmin;
	border-radius: 50%;
	background: linear-gradient(
		to right,
		var(--wrapper-dark),
		var(--wrapper-light),
		var(--wrapper-dark)
	);
}

.neck::after {
	content: "";
	position: absolute;
	width: 5.5vmin;
	height: 2vmin;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(
		to right,
		var(--wrapper-dark),
		var(--wrapper-light),
		var(--wrapper-dark)
	);
	top: 1vmin;
}
